<article class="prose">
  <h1>Uses</h1>
  <p>This is a complete list of the tools, apps, services and hardware I use on a regular basis.</p>
  <p>If you want to see setups of other people, check out <a href="https://github.com/wesbos/awesome-uses">github.com/wesbos/awesome-uses</a>.</p>

  @for (category of usesCategories(); track category.category) {
    <h2>{{ category.category }}</h2>
    <ul>
      @for (item of category.items; track item.name) {
        <li>
          @if (item.url) {
            <a [href]="item.url">{{ item.name }}</a>
          } @else {
            {{ item.name }}
          }
          @if (item.description) {
            - {{ item.description }}
          }
        </li>
      }
    </ul>
  }
</article>
