<header class="mt-8 mb-24 md:flex justify-between items-center px-4 md:px-0">
  <div class="font-medium">
    <a routerLink="/" class="inline-block -ml-2 px-2 py-1 rounded-lg font-semibold hover:bg-gray-100 transition">
      {{ siteData()?.siteName }}
    </a>
  </div>

  <nav class="text-sm text-slate-600 font-medium space-x-4">
    @for (link of siteData()?.navLinks ?? []; track link.path) {
      <a [routerLink]="link.path"
         routerLinkActive="font-bold"
         class="underline hover:no-underline">
        {{ link.label }}
      </a>
    }
  </nav>
</header>
