<article class="prose">
  <h1>About</h1>

  @if (aboutData(); as data) {
    @for (p of data.bio; track p) {
      <p [innerHTML]="p"></p>
    }
    <h2 id="links">Links</h2>
    <ul>
      @for (link of data.links; track link.name) {
        <li><a [href]="link.url">{{ link.name }}</a></li>
      }
    </ul>

    <h2 id="talks">Talks</h2>
    <ul>
      @for (talk of data.talks; track talk.title) {
        <li>
          {{ talk.title }}
          @if (talk.recordingUrl) {
            (<a [href]="talk.recordingUrl">Recording</a>@if (talk.slidesUrl) {, <a [href]="talk.slidesUrl">Slides</a>})
          }
          - {{ talk.description }}
        </li>
      }
    </ul>

    <h2 id="interviews">Interviews</h2>
    <ul>
      @for (interview of data.interviews; track interview.url) {
        <li><a [href]="interview.url">{{ interview.title }}</a></li>
      }
    </ul>

    <h2 id="people-i-would-like-to-meet">People I would like to meet</h2>
    <p>An ongoing list of people that inspired me in some way or another and I'd like to meet in person.</p>
    <ul class="task-list">
      @for (person of data.people; track person.name) {
        <li class="task-list-item">
          <div class="checkbox">
            <input type="checkbox" [checked]="person.met" disabled>
            <label><a [href]="person.url">{{ person.name }}</a></label>
          </div>
        </li>
      }
    </ul>
  }
</article>
