<div class="prose mb-10">
  <h1>Reading</h1>
  <p>Over the years I've built up the habit of taking my Kindle everywhere I go and reading books or saved articles instead of scrolling through social media. Here is a list of all the books I've read in the past.</p>
</div>

@for (year of readingYears(); track year.year) {
  <section class="mb-12">
    <h2 class="mb-3 text-base font-black">{{ year.year }}</h2>
    <div class="space-y-4 sm:space-y-1">
      @for (book of year.books; track book.title) {
        <article class="grid sm:grid-cols-9 gap-x-2 md:gap-y-2 text-sm">
          <div class="sm:col-span-4 font-semibold">{{ book.title }}</div>
          <div class="sm:col-span-2 truncate" [title]="book.author">{{ book.author }}</div>
        </article>
      }
    </div>
  </section>
}
